@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  .poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  .body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f4f4f4;
  }
  .profilecard {
    margin-top: 300px;
    margin-left: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 370px;
    width: 100%;
    background: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    border-radius: 24px;
    padding: 25px;
  }
}
.image {
  position: relative;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background-color: #4070f4;
  padding: 3px;
  margin-bottom: 10px;
}
.image .profileimg {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;

  border: 3px solid #fff;
}
.profilecard .textdata {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.textdata .name {
  font-size: 22px;
  font-weight: 500;
}
.textdata .work {
  font-size: 15px;
  font-weight: 400;
}
.profilecard .mediabuttons {
  display: flex;
  align-items: center;
  margin-top: 15px;
}
.mediabuttons .link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  height: 34px;
  width: 34px;
  border-radius: 50%;
  margin: 0 8px;
  background-color: #4070f4;
  text-decoration: none;
  font-size: 18px;
}
.profilecard .buttons {
  display: flex;
  align-items: center;
  margin-top: 25px;
}
.buttons .button {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  border: none;
  border-radius: 24px;
  padding: 8px 24px;
  margin: 0 10px;
  background-color: #4070f4;
  cursor: pointer;
  transition: all 0.3s ease;
}
.buttons .button:hover{
    background-color: #0e4bf1;
}

.profilecard .analytics{
  display:flex;
  align-items: center;
 margin-top: 20px;
}
.analytics .data{
  display: flex;
  align-items: center;
  padding: 0 20px;
  border-right: 2px solid #e7e7e7;
  border-left: 2px solid #e7e7e7;
}